<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="public/images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="/js/index.js" defer></script>

    <title>Frontend Mentor | GitHub user search app</title>
  </head>
  <body>
    <header class="logo-mode">
      <a href="/"><h2 class="logo">devfinder</h2></a>
      <div class="mode">
        <p class="modeText">DARK</p>
        <img alt ="icon moon" id="modeImg" src="/public/images/icon-moon.svg" />
      </div>
    </header>
    <aside>
      <form class="input-search" action="/search/" method="get">
        <object alt="search icon" id="search-icon" data="/images/icon-search.svg"></object>
        <input type="search" name="keyword" placeholder="<%=locals.notFound ? '' : "Search GitHub username..." %>"/>
        <span class='not-found'><%= locals.notFound ? 'No results': '' %></span>
        <button type="submit">Search</button>
      </form>
    </aside>
      
    <main>
      <img alt="profile picture" id="profile-image-desktop" src='<%=locals.user ? user.avatar_url :
      '/images/octocat.png'%>' />
      <div class="global-details">
        <section class="profile-heading">
          <img alt="profile picture" id="profile-image-mobile" class="profile-image" src='<%=locals.user ?
          user.avatar_url : '/images/octocat.png'%>' />
          <div class="profile-details">
            <div>
              <h1 id="user"><%=locals.user ? user.name : "The Octocat"%></h1>
              <a><h3>@<%=locals.user ? user.login : "octocat"%></h3></a>
            </div>
            <p>Joined <%=locals.user ? user.joined : "25 Jan 2011"%></p>
          </div>
        </section>

        <section class="profile-description">
          <h2>
            <% if(locals.user) { %>
              <%if(user.bio === null) { %>
                <%="This profile has no bio"%>
              <% } else { %>
                <%=user.bio%>
                <% }} else { %>
              <%='Lorem ipsum dolor sit, amet consectetur adipisicing elit. Donec odio. Quisque voluptat mattis eros.'  %> 
              <%}%>
          </h2>
        </section>

        <section class="profile-summary">
          <table>
            <tr>
              <th>Repos</th>
              <th>Followers</th>
              <th>Following</th>
            </tr>
            <tr>
              <td><%=locals.user? user.public_repos : '8'%></td>
              <td><%=locals.user? user.followers : '3938'%></td>
              <td><%=locals.user? user.following : '9'%></td>
            </tr>
          </table>
        </section>

        <section class="profile-contact-details">
          <div class="icon-information <%= (locals.user && user.location === null) ?  'not-available' :'' %>" >
            <i><img alt="icon location" src="/public/images/icon-location.svg" /> </i>
            <p>
              <% if(locals.user) { %>
                <% if (user.location === null) { %>
                 <%='Not Available'%>
               <% } else { %>
                   <%=user.location %>
             <% }} else { %>
                 <%='San Francisco'%>
             <%}%>
              
            </p>
          </div>
          <div class="icon-information <%= (locals.user && user.blog === '') ?  'not-available' :'' %>" >
            <i><img alt="icon information" src="/public/images/icon-website.svg" /></i>
            <p id="link">

              <% if(locals.user) { %>
                 <% if (user.blog === '') { %>
                  <%='Not Available'%>
                <% } else { %>
                    <%=user.blog %>
              <% }} else { %>
                  <%='https://github.blog'%>
              <%}%>
            </p>               
            
          </div>
          <div class="icon-information not-available">
            <i>
              <img alt="icon twitter" src="/public/images/icon-twitter.svg" />
            </i>
            <p>Not Available</p>
          </div>
          <div class="icon-information">
            <i>
              <img alt="icon company" src="/public/images/icon-company.svg" />
            </i>
            <p><%=locals.user? user.html_url : '@github'%></p>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
